
<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title class="text-center">Divine Grace Medical Clinic</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .underline { text-decoration: overline }
  </style>
 
<body>


    <h3 class="text-center fw-bold">DIVINE GRACE CLINICAL LABORATORY</h3>
    <h6 class="text-center">Plaza Center Bldg. Sto. Nino St. Ibaba East Calapan City</h6>
    <h6 class="text-center">PLDT Tel. No. (043) 748 6927</h6>
    <h6 class="text-center">"THE CLINICAL LABORATORY WITH A QUALITY PERFROMANCE"</h6>
    <hr style=" border: 2px solid black;">
    <h3 class="text-center fw-bold">Fecalysis</h3><br><br>

    <div class="container">
        <div class="container">
            <div class="row">
              <div class="col">
                <p>Date: </p>
              </div>
              <div class="col">
                <p>Physician: </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Patient: </p>
              </div>
              <div class="col">
                <p>Age: </p>
              </div>
              <div class="col">
                <p>Gender: </p>
              </div>
              <div class="col">
                <p>Civil Status: </p>
              </div>
            </div>
          </div>
        
    
    <table class="table table-bordered">
        <tr>
            <th colspan="2" class="text-center">Macroscopic</th>
            <th colspan="2" class="text-center">Microscopic</th>
        </tr>
        <tr>    
            <th>Description</th> 
       
            <th>Result</th>
            <th>Description</th>
 
            <th>Result</th>
        </tr>
        <tr>
            <th>Sugar</th>
            <td></td>
            <th>A.Urates/phosphates</th>
            <td></td>
            
          </tr>
          <tr>
            <th>Blood</th>
            <td></td>
            <th></th>
            <td></td>
            
          </tr>
          <tr>
            <th>Ketones</th>
            <td></td>
            <th></th>
            <td></td>
            
          </tr>
        
          
    </table>
    <div class="row">
        <div class="col">
          <p>Analyzed by:</p>
        </div>
        <div class="col">
          <p>Verified by:</p>
        </div>
        <div class="col">
          <p>Noted by:</p>
        </div>
      </div>
      <br>
      <!---signature0----->
  <div class="row">
    <div class="col">
      <p ><b class="underline">ELBERT R. DALISAY, RMT</b><br>Medical Technologist<br>Lic.No. 0104373</p>
    </div>
    <div class="col">
      <p ><b class="underline">Annaline D. Alferez,RMT</b><br>Medical Technologist<br>Lic.No. 0030409</p>
    </div>
    <div class="col">
      <p ><b class="underline">Dr. Anacleta P. Valdez ,MHA, FPSP</b><br>Medical Technologist<br>Lic.No. 0066916</p>
    </div>
  </div>




</body>
</html>